<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897630424022-15kj0rafju98j1m2d3otqhbout0vjlmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897630424022-15kj0rafju98j1m2d3otqhbout0vjlmc</string>
	<key>API_KEY</key>
	<string>AIzaSyCCggtFLkTfxfS9mhem0N97zjjPr1oCLPo</string>
	<key>GCM_SENDER_ID</key>
	<string>897630424022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touristapp</string>
	<key>PROJECT_ID</key>
	<string>touristapp-ae3f5</string>
	<key>STORAGE_BUCKET</key>
	<string>touristapp-ae3f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897630424022:ios:3f58c2c0cf9922d5f6f277</string>
</dict>
</plist>